* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

h1 {
    color: rgb(98, 0, 255);
}

.parrafo {
    padding: 2%;
    margin: 2% auto;
    border: springgreen solid 1px;
    font-size: 4vw;
}

.parrafo:hover {
    color: red;
}

section {    
    width: 40%;
    display: inline-block;
    margin: 0 4%;
}
/* desktop first*/
@media only screen and (max-width:600px) {
    section {
        display: block;
        width: 80%;
    }
}

/* movile first*/
@media only screen and (min-width:600px) {
    .parrafo {
        color: violet;
    }
}
